# Exclure tous les fichiers de configuration .conf
*.conf
nextcloud/*.conf
# Ignorer les fichiers de configuration sensibles et les fichiers générés
.env
cli/backup.conf
*.log
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
.DS_Store
# Dossiers temporaires
/tmp/
# Dossiers de build
build/
dist/
*.egg-info/
# Docker
cli/pbs_client/*.log
